.gitattributes

bin/
lib/
obj/
/include/occa/defines/compiledDefines.hpp
/scripts/compilerVendorTest
.compiledDefinesChanged

*.obj
*.pyc
main

# Debug
.DS_Store
*.dSYM

# Visual Studio
editorTools/visualStudio/*
!editorTools/visualStudio/occa.sln
!editorTools/visualStudio/occa.vcxproj
!editorTools/visualStudio/occa.vcxproj.filters
