.gitattributes

bin

*.obj
y

main

notes.org

web/
web2/

.DS_Store
*.dSYM

# for now
benchmarks/
scripts/occaBenchmark.cpp
scripts/compilerVendorTest

# Visual Studio
editorTools/visualStudio/*
!editorTools/visualStudio/occa.sln
!editorTools/visualStudio/occa.vcxproj
!editorTools/visualStudio/occa.vcxproj.filters

*.pyc
/examples/addVectors/ispc/tasksys.cpp

sandbox/