#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.exp
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
*.opensdf
*.ipch
*.sdf
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
# Ignore files gnereated by latex
*.dvi
*.pdf
*.log
*.lot
*.lof
*.nlo
*.toc
*.bak
*.out
*.sav
*.prj
*.aux
*.bbl
*.blg
*.ps
*.ilg
*.nls
*.nav
*.len
*.spl
# Ignore Tecplot - files
*.plt
# Ignore MacOS-systemfiles
.DS_Store
*.DS_Store
*MAXOSX*/
# Ignore Windows-Files
desktop.ini
# Some Backup files
*.tex~
# git merging artefacts/Kdiff files
*.orig
# some other bak-files
*._*
*.synctex.gz
# pgfplot
*.pgf-plot.*