@font-face {
    font-family:"notoSansRegular";
    src: url("../../library/fonts/noto_sans_regular.ttf");
}

@font-face {
    font-family:"openSansLight";
    src: url("../../library/fonts/openSans/light.ttf");
}

@font-face {
    font-family:"openSansRegular";
    src: url("../../library/fonts/openSans/regular.ttf");
}

body {
    margin: 0px;
    background-color: rgb(246, 246, 246);
}

#id_body {
    width: 1024px;
    margin: auto;
    padding-top:10px;
}

#id_topMenu {
    border-bottom-style: solid;
    border-bottom-color: rgba(231, 231, 231, 0.1);
    border-bottom-width: 1px;

    padding-top   : 0px;
    padding-bottom: 0px;
}

.top.wrapper {
    width: 1024px;
    margin: auto;
}

#id_logo {
    display: block;
    float  : left;
    height : 58px!important;

    padding: 14px;
}

.top.menu .right.menu {
    margin-right:10px;
}

.top.menu .right.menu .topMenu.item {
    font-family: 'openSansLight';
    font-size  : 18px;

    margin-top    : 0px;
    margin-bottom : 0px;

    padding-top   : 21px;
    padding-bottom: 21px;

    padding-left : 22px;
    padding-right: 22px;
}

.top.menu .right.menu .active.topMenu.item {
    box-shadow: none;

    background-color: rgba(81, 134, 171, 0.06);
}

/*---[ Line between items]---*/
.top.menu .right.menu .topMenu.item:before {
    width: 1px;

    height: 30px;

    margin-top   :15px;
    margin-bottom:15px;
}

footer {
    position: absolute;
    left    : 0;
    bottom  : 0;
    width   : 100%;

    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.1);
    border-top-width: 1px;

    background-color: white;
    color           : rgb(58, 58, 58);

    height     : 40px;
    line-height: 40px;
    text-align : center;

    font-family: 'openSansRegular';
    font-size  : 13px;
}