/*---[ Header & Footer ]--------------*/
#edit-source {
    position: absolute;
    top: 0;
}

#copyright {
    color: #B2B3BA;
    position: absolute;
    bottom: 2em;
}
/*====================================*/


/*---[ Sidebar ]----------------------*/
.sidebar > h1 > a.app-name-link {
    color: #2B7FB9;
}

.app-sub-sidebar li:before {
    display: none;
}
/*====================================*/


/*---[ Headers ]----------------------*/
.markdown-section h1:not(:first-of-type) {
    margin-top: 1em;
}
/*====================================*/


/*---[ Tabs ]-------------------------*/
.md-tabs .md-tabs-content {
    margin-bottom: -1em;
}

.md-button.md-focused:before,
.md-button:active:before,
.md-button:hover:before {
    background-color: #2980B9;
    opacity: .12;
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button.md-active {
    color: #2980B9;
}

.md-tabs-indicator {
    background-color: #2980B9;
}

.md-ripple .md-ripple-wave {
    background-color: #2980B9;
}

/* Code Blocks */
.md-tabs pre:not(:first-of-type) {
    margin-top: 1em;
}

.md-tabs pre {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-section pre {
    margin: 0 !important;
    padding: 1.5em !important;
}

.markdown-section pre:not(:first-child) {
    margin-top: 1em !important;
}

pre:after {
    font-size: 0.8em !important;
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}

.markdown-section code {
    margin: 0 !important;
    padding: 0 !important;
}
/*====================================*/


/*---[ Headers ]----------------------*/
a:not(.md-button):hover {
    text-decoration-color: #F7D096;
}
/*====================================*/


/*---[ Markdown ]---------------------*/
.markdown-section p.warn {
    border-left: 4px solid #A7CEC0;
}

.markdown-section p.tip {
    background-color: #FEF7F7;
    padding: 1rem !important;
}

.markdown-section p.tip:before {
    display: none !important;
}

.markdown-section blockquote {
    padding: 1rem !important;
    background-color: #DDECF4;
}

.markdown-section blockquote > p {
    margin: 0 !important;
    font-weight: normal !important;
    color: #34495E !important;
}

.markdown-section p > code {
    background-color: transparent !important;
    font-size: 0.85em !important;
}

.markdown-section p.warn > code {
    color: #F54D4D !important;
}
/*====================================*/


/*---[ API ]--------------------------*/
.api-container h2 {
    margin-top: 0.5em;
}

.api-container h2 a {
    text-decoration: none;
}

.api-container h2 a span {
    font-size: 1rem;
    font-family: Roboto Mono,Monaco,courier,monospace;
    font-weight: lighter;
    margin-left: 1.2em;
}

.api-container h2 a span:before {
    content: "#";
    color: #2980B9;
    position: absolute;
    left: 1em;
    margin-top: 0.25em;
    font-size: 1em;
}

.api-container hr {
    margin-bottom: 0;
}

.api-container hr:not(:first-of-type) {
    margin-top: 0;
}

.api-container ul {
    list-style-type: none;
}

.api-container li p:first-child {
    margin-bottom: 0.3em;
}

.api-container li p:nth-child(2) {
    margin-top: 0.3em;
}
/*====================================*/


/*---[ Print ]------------------------*/
@media print {
    .sidebar {
        display: none,
    }
    .content {
        left: 0;
    }
}
/*====================================*/
