/*---[ Header & Footer ]--------------*/
#edit-source {
    position: absolute;
    top: 0;
}

#copyright {
    color: #B2B3BA;
    position: absolute;
    bottom: 2em;
}

#main {
    padding-top: 50px !important;
}

.markdown-section h1:not(:first-of-type) {
    margin-top: 1em;
}

a:not(.md-button):hover {
    text-decoration-color: #F7D096;
}
/*====================================*/


/*---[ Navbar ]----------------------*/
.app-nav {
    margin-right: 100px;
}

.app-nav > ul > li > a {
    color: inherit;
    text-decoration: none;
    transition: color .3s;
}

.app-nav a:hover {
    text-decoration: none !important;
}
/*====================================*/


/*---[ Sidebar ]----------------------*/
.sidebar > h1 > a.app-name-link {
    color: #2B7FB9;
}

.app-sub-sidebar li:before {
    display: none;
}

body.no-sidebar .sidebar,
body.no-sidebar .sidebar-toggle {
    display: none !important;
}

body.no-sidebar .content {
    left: 0px !important;
}

.github-corner {
    display: block !important;
}
/*====================================*/


/*---[ Tabs ]-------------------------*/
.md-tabs .md-tabs-content {
    margin-bottom: -1em;
}

.md-button.md-focused:before,
.md-button:active:before,
.md-button:hover:before {
    background-color: #2980B9;
    opacity: .12;
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button.md-active {
    color: #2980B9;
}

.md-tabs-indicator {
    background-color: #2980B9;
}

.md-ripple .md-ripple-wave {
    background-color: #2980B9;
}

/* Code Blocks */
.md-tabs pre:not(:first-of-type) {
    margin-top: 1em;
}

.md-tabs pre {
    margin-top: 0;
    margin-bottom: 0;
}

.markdown-section pre {
    margin: 0 !important;
    padding: 1.5em !important;
}

.markdown-section pre:not(:first-child) {
    margin-top: 1em !important;
}

pre:after {
    font-size: 0.8em !important;
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}

.markdown-section code {
    margin: 0 !important;
    padding: 0 !important;
    background-color: transparent !important;
}

blockquote pre {
    border: 1px solid #F0B794 !important;
}
/*====================================*/


/*---[ Markdown ]---------------------*/
p.warn, p.tip, blockquote {
    position: relative !important;
}

p.warn:before,
p.tip:before,
blockquote:before {
    border-radius: 100% !important;
    font-family: Dosis,Source Sans Pro,Helvetica Neue,Arial,sans-serif !important;
    font-size: 14px !important;
    font-weight: 700 !important;
    left: -12px !important;
    line-height: 20px !important;
    position: absolute !important;
    height: 20px !important;
    width: 20px !important;
    text-align: center !important;
    top: 17px !important;
}

.markdown-section p.warn {
    background-color: transparent;
    border: 1px solid #E9692F;
    padding: 1.5rem 1rem;
}

.markdown-section p.tip {
    background-color: #F8F8F8;
    border-left: 3px solid #FF6666;
    padding: 1.5rem 1rem !important;
}

.markdown-section p.tip:before {
    top: 27px !important;
}

.markdown-section blockquote {
    padding: 1rem !important;
    background-color: #F8F8F8;
}

.markdown-section blockquote > p {
    margin: 0 !important;
    font-weight: normal !important;
    color: #34495E !important;
}

.markdown-section p > code {
    background-color: transparent !important;
    font-size: 0.85em !important;
}

.markdown-section p.warn > code {
    color: #F54D4D !important;
}
/*====================================*/


/*---[ Attributes ]-------------------*/
code .token.annotation {
    color: #2980B9;
}

.transform-arrow {
    width: 1em;
    margin: 0.5em auto -0.5em auto;
    color: #2980B9;
}
/*====================================*/


/*---[ API ]--------------------------*/
.api-container h2 {
    margin-top: 0.5em;
}

.api-container h2 a {
    text-decoration: none;
}

.api-container h2 a span {
    font-size: 1rem;
    font-family: Roboto Mono,Monaco,courier,monospace;
    font-weight: lighter;
    margin-left: 1.2em;
}

.api-container h2 a span:before {
    content: "#";
    color: #2980B9;
    position: absolute;
    left: 1em;
    margin-top: 0.25em;
    font-size: 1em;
}

.api-container hr {
    margin: 5px 0;
}

.api-container ul {
    list-style-type: none;
}

.api-container li p:first-child {
    margin-bottom: 0.3em;
}

.api-container li p:nth-child(2) {
    margin-top: 0.3em;
}
/*====================================*/


/*---[ Print ]------------------------*/
@media print {
    .sidebar {
        display: none,
    }
    .content {
        left: 0;
    }
}
/*====================================*/
