.sidebar > h1 > a.app-name-link {
    color: #2b7fb9;
}

.app-sub-sidebar li:before {
    display: none;
}

#edit-source {
    position: absolute;
    top: 0;
}

#copyright {
    color: #B2B3BA;
    position: absolute;
    bottom: 2em;
}

/*---[ Tabs ]-------------------------*/
.md-button.md-focused:before,
.md-button:active:before,
.md-button:hover:before {
    background-color: #2980B9;
    opacity: .12;
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button.md-active {
    color: #2980B9;
}

.md-tabs-indicator {
    background-color: #2980B9;
}

.md-ripple .md-ripple-wave {
    background-color: #2980B9;
}

/* Code Blocks */
.md-tabs-content {
    margin-bottom: 1em;
}

.md-tabs pre {
    margin-top: 0;
    margin-bottom: 0;
}

.md-tabs pre > code {
    margin-top: -1.8em;
    margin-bottom: -4em;
}
/*====================================*/