/*---[ Header & Footer ]--------------*/
#edit-source {
    position: absolute;
    top: 0;
}

#copyright {
    color: #B2B3BA;
    position: absolute;
    bottom: 2em;
}
/*====================================*/


/*---[ Sidebar ]----------------------*/
.sidebar > h1 > a.app-name-link {
    color: #2b7fb9;
}

.app-sub-sidebar li:before {
    display: none;
}
/*====================================*/


/*---[ Headers ]----------------------*/
.markdown-section h1:not(:first-of-type) {
    margin-top: 1em;
}
/*====================================*/


/*---[ Tabs ]-------------------------*/
.md-tabs .md-tabs-content {
    margin-bottom: -1em;
}

.md-button.md-focused:before,
.md-button:active:before,
.md-button:hover:before {
    background-color: #2980B9;
    opacity: .12;
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button.md-active {
    color: #2980B9;
}

.md-tabs-indicator {
    background-color: #2980B9;
}

.md-ripple .md-ripple-wave {
    background-color: #2980B9;
}

/* Code Blocks */
.md-tabs pre:not(:first-of-type) {
    margin-top: 1em;
}

.md-tabs pre {
    margin-top: 0;
    margin-bottom: 0;
}

pre:after {
    font-size: 0.8em !important;
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}
/*====================================*/
