/*---[ Header & Footer ]--------------*/
#edit-source {
    position: absolute;
    top: 0;
}

#copyright {
    color: #B2B3BA;
    position: absolute;
    bottom: 2em;
}
/*====================================*/


/*---[ Sidebar ]----------------------*/
.sidebar > h1 > a.app-name-link {
    color: #2B7FB9;
}

.app-sub-sidebar li:before {
    display: none;
}

body.close .content, .content {
    left: 50px;
}
/*====================================*/


/*---[ Headers ]----------------------*/
.markdown-section h1:not(:first-of-type) {
    margin-top: 1em;
}
/*====================================*/


/*---[ Tabs ]-------------------------*/
.md-tabs .md-tabs-content {
    margin-bottom: -1em;
}

.md-button.md-focused:before,
.md-button:active:before,
.md-button:hover:before {
    background-color: #2980B9;
    opacity: .12;
}

.md-tabs.md-theme-default .md-tabs-navigation .md-button.md-active {
    color: #2980B9;
}

.md-tabs-indicator {
    background-color: #2980B9;
}

.md-ripple .md-ripple-wave {
    background-color: #2980B9;
}

/* Code Blocks */
.md-tabs pre:not(:first-of-type) {
    margin-top: 1em;
}

.md-tabs pre {
    margin-top: 0;
    margin-bottom: 0;
}

pre:after {
    font-size: 0.8em !important;
    font-family: Source Sans Pro, Helvetica Neue, Arial, sans-serif;
}
/*====================================*/


/*---[ Headers ]----------------------*/
a:not(.md-button):hover {
    text-decoration-color: #F7D096;
}
/*====================================*/

/*---[ API ]--------------------------*/
.api-container h2 {
    margin-top: 0.5em;
}

.api-container h2 a {
    text-decoration: none;
}

.api-container h2 a span {
    font-size: 1rem;
    font-family: Roboto Mono,Monaco,courier,monospace;
    font-weight: lighter;
    margin-left: 1.2em;
}

.api-container h2 a span:before {
    content: "#";
    color: #2980B9;
    position: absolute;
    left: 1em;
    margin-top: 0.25em;
    font-size: 1em;
}

.api-container hr {
    margin-bottom: 0;
}

.api-container hr:not(:first-of-type) {
    margin-top: 0;
}

.api-container ul {
    list-style-type: none;
}

.api-container li p:first-child {
    margin-bottom: 0.3em;
}

.api-container li p:nth-child(2) {
    margin-top: 0.3em;
}
/*====================================*/