/*
  Menu
  30 px
  Source
*/

@font-face {
    font-family:"notoSansRegular";
    src: url("/library/fonts/noto_sans_regular.ttf");
}

@font-face {
    font-family:"openSansLight";
    src: url("/library/fonts/openSans/light.ttf");
}

@font-face {
    font-family:"openSansRegular";
    src: url("/library/fonts/openSans/regular.ttf");
}

@font-face {
    font-family:"openSansBold";
    src: url("/library/fonts/openSans/bold.ttf");
}

@font-face {
    font-family:"ralewayLight";
    src: url("/library/fonts/raleway/light.ttf");
}

@font-face {
    font-family:"ralewayRegular";
    src: url("/library/fonts/raleway/regular.ttf");
}

@font-face {
    font-family:"ralewayBold";
    src: url("/library/fonts/raleway/bold.ttf");
}


/*---[ Start of cleanStickyFooter ]---*/
html, body {
    height: 100%;
    font-family: "ralewayRegular";
}

body {
    margin : 0px;
    padding: 0px;
}

div#id_bodyWrapper {
    width     : 100%;
    min-height: 100% !important;
    height    : auto !important;
    height    : 100%;
    margin    : 0px 0px -40px 0px;
}

div#id_footerWrapper {
    width : 100%;
    height: 40px;
}

div#id_bodyWrapper2 {
    width  : 100%;
    padding: 0px 0px 41px 0px;
}

div#id_footerWrapper, div#id_bodyWrapper2 {
    min-width: 100%;
}

div#id_footer {
    min-width: 100%;
    margin: 0px auto;
}
/*---[ End of cleanStickyFooter ]---*/

#id_topMenu {
    border-bottom-style: solid;
    border-bottom-color: rgba(231, 231, 231, 0.1);
    border-bottom-width: 1px;

    padding-top   : 0px;
    padding-bottom: 0px;

    margin-bottom: 1px;
}

.top.wrapper {
    min-width: 830px;
    max-width: 1024px;
    margin: auto;
}

#id_logo_div {
    padding: 0px;
}
#id_logo_div:hover {
    position: relative;
    height  :60px;
    background-color: white;
}

#id_logo_div .logo {
    position :absolute;
    left     : 0px;
    height   : 32px !important;

    padding: 14px;

    opacity   : 1;
    transition: opacity 0.2s ease-out;
}

#id_logo_div .bottom.logo:hover {
    opacity: 0;
}

.top.menu .right.menu {
    margin-right:10px;
}

.top.menu .right.menu .topMenu.item, .top.menu .right.menu .topMenu.item .topMenu {
    font-family: 'openSansLight';
    font-size  : 18px;
    color      : rgb(108, 108, 108);
    text-decoration :none;

    text-align    : center;
    vertical-align: middle;

    display: inline-block;

    margin-top    : 0px;
    margin-bottom : 0px;

    padding-top   : 21px;
    padding-bottom: 21px;

    padding-left : 22px;
    padding-right: 22px;
}

.top.menu .right.menu .topMenu.dropdown.item {
    height: 60px;

    padding-top   : 0px;
    padding-bottom: 0px;

    padding-left : 0px;
    padding-right: 0px;
}

.top.menu .right.menu .selected.topMenu.item {
    box-shadow: none;

    background-color: rgba(132, 175, 213, 0.1);
}

/*---[ Line between items]---*/
.top.menu .right.menu .topMenu.item:before {
    width : 1px;
    height: 30px;

    margin-top   :15px;
    margin-bottom:15px;
}

.top.menu .right.menu .topMenu.item:hover {
    background-color: rgba(132, 175, 213, 0.05);
    color           : rgba(0, 0, 0, 0.4);
}

.top.menu .right.menu .selected.topMenu.item:hover {
    background-color: rgba(132, 175, 213, 0.1);
    color           : rgb(108, 108, 108);
}

body {
    margin: 0px;
    background-color: white;
}

div#id_body {
    height: 100%;

    line-height: 200%;
}

div#id_bodyContents {
    min-width: 830px;
    max-width: 1024px;
}

#id_getStartedMenu {
    display: inline-block;
    width: 220px;
    height: 600px;
    background-color: rgba(132, 175, 213, 0.3);
    vertical-align: top;
}

#id_getStartedContents {
    display: inline-block;
    margin-left: 20px;
    vertical-align: top;
}

/*---[ Shared Stuff ]---*/
.fixed.body {
    display: block;

    min-width: 830px;
    max-width: 1024px;

    margin: auto;

    margin-top  : 30px;
    padding-left : 20px;
    padding-right: 20px;
}

a.dsm5.link {
    color: rgb(81, 134, 174);

    text-decoration: none;
}

.f_os {
    font-family: "openSansRegular";
}

.f_os.light {
    font-family: "openSansLight";
}

.f_os.bold {
    font-family: "openSansBold";
}

.f_rw {
    font-family: "ralewayRegular";
}

.f_rw.light {
    font-family: "ralewayLight";
}

.f_rw.bold {
    font-family: "ralewayBold";
}

h2.header, h3.header, h4.header {
    font-family: "openSansLight";
}

.dsm5.indent1 { margin-left: 20px; }
.dsm5.indent2 { margin-left: 40px; }
.dsm5.indent3 { margin-left: 60px; }
.dsm5.indent4 { margin-left: 80px; }

.dSpacing1 { margin-bottom: 10px !important; }
.dSpacing2 { margin-bottom: 20px !important; }
.dSpacing3 { margin-bottom: 30px !important; }
.dSpacing4 { margin-bottom: 40px !important; }

.uSpacing1 { margin-top: 10px !important; }
.uSpacing2 { margin-top: 20px !important; }
.uSpacing3 { margin-top: 30px !important; }
.uSpacing4 { margin-top: 40px !important; }

.udSpacing1 { margin-top: 10px !important; margin-bottom: 10px !important; }
.udSpacing2 { margin-top: 20px !important; margin-bottom: 20px !important; }
.udSpacing3 { margin-top: 30px !important; margin-bottom: 30px !important; }
.udSpacing4 { margin-top: 40px !important; margin-bottom: 40px !important; }

span.highlight {
    color: rgb(239, 169, 104);
}
/*===[ Shared Stuff ]===*/

/*---[ Downloads ]---*/
/*===[ Downloads ]===*/

/*---[ Documentation ]---*/
/*  ---[ Host API ]---*/
.hostAPI.menu {
    margin-top: 0px;
}

.hostAPI.menu .wrapper {
    min-width: 830px;
    max-width: 1024px;

    margin: auto;
}

.hostAPI.menu .wrapper .item {
    width     : 110px;
    text-align: center;

    color      : rgb(245, 245, 245);
    font-family: "ralewayLight";
    font-weight: 100;
}

.hostAPI.menu .wrapper .item:before {
    width : 1px;
    height: 23px;

    margin-top   : 10px;
    margin-bottom: 10px;
}

.hostAPI.menu .wrapper a.item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.hostAPI.menu .wrapper a.selected.item {
    background-color: rgba(255, 255, 255, 0.2);
}

.hostAPI.menu .wrapper a.selected.item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
/*  ===[ Host API ]===*/
/*  ---[ Device API ]---*/
.deviceAPI.menu {
    margin-top: 0px;
}

.deviceAPI.menu .wrapper {
    min-width: 830px;
    max-width: 1024px;

    margin: auto;
}

.deviceAPI.menu .wrapper .item {
    width     : 110px;
    text-align: center;

    color      : rgb(245, 245, 245);
    font-family: "ralewayLight";
    font-weight: 100;
}

.deviceAPI.menu .wrapper .item:before {
    width : 1px;
    height: 23px;

    margin-top   : 10px;
    margin-bottom: 10px;
}

.deviceAPI.menu .wrapper a.item:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.deviceAPI.menu .wrapper a.selected.item {
    background-color: rgba(255, 255, 255, 0.2);
}

.deviceAPI.menu .wrapper a.selected.item:hover {
    background-color: rgba(255, 255, 255, 0.2);
}
/*  ===[ Device API ]===*/
/*===[ Documentation ]===*/


/*---[ About Us ]---*/
div#id_body.aboutUs {
    line-height: 100%;
}

.aboutUs .profile.segment {
    display: inline-block;
    padding: 0px;

    vertical-align: top;

    margin-top  : 10px;
    margin-right: 30px;

    width : 200px;
    height: 260px;
}

.aboutUs .contributor.profile.segment {
    height: 230px;
}

.aboutUs .image {
    display: block;

    height: 120px;
    width : 120px;
    margin: auto;

    margin-top:20px !important;
}

.aboutUs .image img {
    height: 120px;
    margin: auto;
}

.aboutUs .profile.segment .info {
    display: block;

    padding-top   : 10px;
    padding-bottom: 10px;

    margin: auto;
    padding: 0;
}

.aboutUs .profile .info .name {
    font-family: 'openSansRegular';
    font-size  : 16px;

    margin: 20px 0px 0px 0px;
}

.aboutUs .profile .info .location {
    font-family: 'openSansLight';
    font-size  : 14px;
    color      : rgb(150, 150, 150);

    margin: 2px 0px 0px 0px;
}

.aboutUs .profile .info .links {
    display: block;

    width: 165px;

    margin: auto;
    margin-top   : 15px;
    margin-bottom: 15px;
}

.aboutUs .profile .info .links a {
    text-decoration: none;

    color: rgb(20, 20, 20);
}

.aboutUs .profile .info .links a .icon {
    margin-left : 4px;
    margin-right: 4px;
}

.aboutUs .profile .info .links a.tooltip {
    display : inline;
    position: relative;
}

.aboutUs .profile .info .links a.tooltip:hover:after {
    background: rgba(0,0,0,.4);
    color     : #fff;

    border-radius: 5px;

    bottom: 25px;

    content: attr(tooltip);

    position: absolute;
    padding : 5px 10px;
    left    : 20%;
    z-index : 98;
}

.aboutUs .profile.segment .infoDivider {
    width:180px;
    margin:auto;
}

/*  ---[ Collaborators ]---*/
.ui.collaborator.celled.grid {
    /* 160 [30 160] */

    -moz-box-shadow   : 0px 0px 0px rgba(0,0,0,0) !important;
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
    box-shadow        : 0px 0px 0px rgba(0,0,0,0) !important;

    width: 350px;
}

.collaborator .row {
    -moz-box-shadow   : 0px 0px 0px rgba(0,0,0,0) !important;
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
    box-shadow        : 0px 0px 0px rgba(0,0,0,0) !important;
}

.collaborator .column {
    -moz-box-shadow   : 0px 0px 0px rgba(0,0,0,0) !important;
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
    box-shadow        : 0px 0px 0px rgba(0,0,0,0) !important;
}

.collaborator .segment {
    width : 140px;
    height: 140px;

    padding: 16px;
}

.collaborator .segment .image {
    width : 108px;
    height: 108px;

    margin: 0px !important;
}
/*  ===[ Collaborators ]===*/

/*  ---[ Support From ]---*/
.ui.support.celled.grid {
    -moz-box-shadow   : 0px 0px 0px rgba(0,0,0,0) !important;
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
    box-shadow        : 0px 0px 0px rgba(0,0,0,0) !important;

    width: 540px;
}

.support .row {
    -moz-box-shadow   : 0px 0px 0px rgba(0,0,0,0) !important;
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
    box-shadow        : 0px 0px 0px rgba(0,0,0,0) !important;
}

.support .column {
    -moz-box-shadow   : 0px 0px 0px rgba(0,0,0,0) !important;
    -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
    box-shadow        : 0px 0px 0px rgba(0,0,0,0) !important;
}

.support .segment {
    width : 140px;
    height: 140px;

    padding: 16px;
}

.support .segment .image {
    width : 108px;
    height: 108px;

    margin: 0px !important;
}
/*  ===[ Support From ]===*/

/*===[ About Us ]===*/

#id_footer {
    border-top-style: solid;
    border-top-color: rgba(0, 0, 0, 0.1);
    border-top-width: 1px;

    background-color: white;
    color           : rgb(100,100,100);

    height     : 40px;
    line-height: 40px;
    text-align : center;

    font-family: 'openSansLight';
    font-size  : 13px;
}

/*---[ Custom ACE theme ]---*/
pre.code.block {
    margin: auto;

    /*
       [1 + 10] + width + [10 + 1]
       .^_box-shadow       ^_border
     */
    width: calc(100% - 22px);

    border-style : solid;
    border-radius: 7px;
    border-width : 10px 10px 10px 10px;

    background-color: rgba(0, 0, 0, 0.01);
    border-color    : rgba(0, 0, 0, 0.01);

    box-shadow: 0 0 0 1px rgba(0,0,0,.2)
}

.ace_hidden-cursors {
    opacity:0
}

.ace-chrome .ace_storage.ace_type {
    color: rgb(132, 175, 213) !important;
}

.ace-chrome .ace_storage.ace_modifier {
    color: rgb(52, 180, 170) !important;
}

.ace-chrome .ace_comment {
    color: rgb(213, 24, 22) !important;
}

.ace-chrome .ace_keyword.ace_control {
    color: rgb(174, 100, 174) !important;
}

.ace-chrome .ace_constant.ace_numeric {
    color: black !important;
}
